<ul class="nav justify-content-end ">
	<a class="nav-item nav-link active" href="#">Active</a>
	<li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
		<a class="nav-link active" routerLink="/">Inicio</a>
	</li>
	<li class="nav-item" routerLinkActive="active">
		<a class="nav-link" routerLink="/proveedores">Proveedores</a>
	</li>
	<li class="nav-item" routerLinkActive="active">
		<a class="nav-link" routerLink="/addpres">Añadir Presupuesto</a>
	</li>
	<li class="nav-item" routerLinkActive="active">
		<a class="nav-link" routerLink="/presupuestos">Presupuestos </a>
	</li>
	<li class="nav-item" routerLinkActive="active">
			<a class="nav-link" routerLink="/registro">Registro </a>
	</li>
</ul>